main{
    padding: 20px 150px;
}

.title-fale{
    font-size: 21px;
    color: #080B3B;
}
.contato , .chat , .email, .importante{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: justify;
}

.contato p, .chat p, .email p{
    font-size: 16px;
    color: #535358;
    padding-top: 5px;
}

.contato ul{
    padding-top: 5px;
}

.contato li{
    list-style: none;
    color:#080B3B;
    font-weight: 430;
    margin-bottom: 3px; 
}

.importante li{
    list-style: none;
    color:#080B3B;
    font-weight: 430;
    margin-bottom: 8px;
    
}

.text-import{
    font-size: 18px;
    font-weight: 430;
    color: #080B3B;
}

.importante ul{
    padding-top: 10px;
}

i{
    margin-right: 6px;
}

.contatos button{
    background-color: #080B3B;
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: 8px 15px;
    font-size: 14px;
}

.contatos button:hover{
    background-color: #080b3bec;
    cursor: pointer;
}

.contatos i{
    color: #fff;
}