footer{
    background-color: #080B3B;
    color:#ffffff;
    padding: 1.5rem 6rem;
    height: 380px;
    
}

.rodape button i{
    margin-right: 5px;
}

.rodape i{
    color: #ffffff;
}

.rodape{
    display: flex;
    justify-content: space-between;
}

.logo-contatos{
    font-size: 450;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.logo-rodape{
    margin: 0px 0px 15px;
}

.nav-button-rodape{
    margin: 10px 0px 0px 0px;
}

.categorias, .atendimento{
    margin-top: 20px; 
    
}

.title-categorias, .title-atendimento{
    font-size: 20px;
    margin: 0px 0px 20px;
}

.nav-cate, .nav-atend{
    list-style: none;
    margin: 0px 0px 10px;
}

.link-cate, .link-atend{
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
}

.text-rodape{
    text-align: center;
    margin: 60px;
    font-size: 12px;
}

.rodape button, .nav-button-rodape{
    padding: 10px 15px;
    background-color: #FF6900;
    color: #ffffff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.nav-button-rodape:hover{
    background-color: #ffc8a1dc;
    color: #fff;
    
}

.nav-button-rodape a{
    text-decoration: none;
    color: #ffffff;
}