footer{
    background-color: #080B3B;
    color:#ffffff;
    padding: 20px 150px;
    height: 390px;
    margin-top: 400px;
}

.rodape{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.logo-contatos{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    font-size: 16px;
    font-weight: 400;
}

.logo-rodape{
    width: 100px;
    margin: 0 0 20px;  
}

.logo-contatos li{
    list-style: none;
    margin: 3px;
}

.logo-contatos i{
    
    padding-top: 5px;
    color: #ffffff;
    
}

.icon-app img{
    height: 38px;
}

.link-app a{
    cursor: pointer;    
}

.title-categorias, .title-atendimento, .title-pagamento{
    font-size: 14px;
    font-weight: 400;
    margin: 0px 0px 20px;
}

.link-cate, .link-atend{
    text-decoration: none;
    color: #ffffff;  
}

.bandeiras img{
    height: 170px;
}

 .nav-cate, .nav-atend{
    list-style: none;
    font-size: 14px;
    margin-bottom: 15px;
}

.text-rodape{
    text-align: center;
     margin: 40px;
    font-size: 12px;
}